@model List<cursomvc.Models.TableViewModels.UserTableViewModel>
@{
    ViewBag.Title = "Index";
}

<h3>Lista de Usuarios</h3>
<br/>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/User/add")'" value="Agregar Nuevo"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Edad</th>
                <th></th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.Id</td>
                    <td>@oElemento.Email</td>
                    <td>@oElemento.Edad</td>
                    <td>
                        <input onclick="jsDelete(@oElemento.Id);" value="Eliminar" class="btn btn-danger " />
                        <input onclick="document.location.href='@Url.Content("~/User/Edit/"+oElemento.Id)'" type="button" value="Editar" class="btn btn-default" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    function jsDelete(id) {

        if(confirm("¿Estás seguro de borrar el registro?"))

            url = "@Url.Content("~/User/Delete")" + "/" + id;       

            $.post(url, function (data){
                if (data == "1") {
                    document.location.href = "@Url.Content("~/User/")"
                } else {
                    alert("Ocurrió un error")
                }
            })
    }
</script>